
body {
  background-color: rgb(218, 218, 218) ;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#value {
  font-size: 60px;
  padding: 10px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 30px;
  padding: 50px;
}

.button, .btn{
 background:rgb(30, 75, 64);
 color: #fff;
 padding: 20px;
 margin-left: 20px;
 margin-right: 20px;
 border-radius: 8px;
 text-transform: capitalize;
 cursor: pointer;
 letter-spacing: 3px;
 font-size: 20px;
 border: 2px solid #fff;
 box-shadow: 20px 10px rgb(192, 191, 191) ;
}

h1 {
  color: #fff;
  background: chocolate;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  font-size: 50px;
  letter-spacing: 5px;
  border: 2px solid #fff;
  box-shadow: 20px 10px rgb(192, 191, 191) ;
}
